{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %} log: {{ appid }}:{{ vercode }} - F-Droid Monitor{% end %}

{% block content %}
<h2>log for {{ appid }}:{{ vercode }}</h2>

<code><pre>
{{ log_content }}
</pre></code>

{% end %}
